﻿@model MayurProject.ViewModel.WebsiteViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Website</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            
            <div class="form-group">
                <select id="ServerName" onchange="test()" class="form-control" asp-for="AssetId" asp-items="@(new SelectList(ViewBag.message,"AssetId","ServerName"))"></select>               
            </div>
            <div class="form-group">
                <label asp-for="WebsiteId" class="control-label"></label>
                <input asp-for="WebsiteId" class="form-control" />
                <span asp-validation-for="WebsiteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebsiteName" class="control-label"></label>
                <input asp-for="WebsiteName" class="form-control" />
                <span asp-validation-for="WebsiteName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebsiteIpAddress" class="control-label"></label>
                <input asp-for="WebsiteIpAddress" class="form-control" />
                <span asp-validation-for="WebsiteIpAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebsitePort" class="control-label"></label>
                <input asp-for="WebsitePort" class="form-control" />
                <span asp-validation-for="WebsitePort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    function test() {  }
   

    console.log(r);
</script>
}
