﻿@model MayurProject.Models.Website

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Website</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WebsiteName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebsiteName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WebsiteIpAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebsiteIpAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WebsitePort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WebsitePort)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WebsiteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
