﻿@model IEnumerable<MayurProject.Models.Website>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WebsiteName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebsiteIpAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebsitePort)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WebsiteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebsiteIpAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebsitePort)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WebsiteId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WebsiteId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WebsiteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
