﻿@model Application
<head>
    <style>
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" />

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' type='text/javascript'></script>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
</head>
<div class=" modal fade" id="deleteApplication">
    <div class="modal-dialog">
        <div style="width:700px;margin-left:2px;border:inset;border-width:5px; border-color:#337ab7" class=" modal-content">
            <div style="background-color:#337ab7;height:50px" class="modal-header">
                <div class="title-bar-left">
                    <span style="color:white; font-size:20px;padding:10px;" class="modal-title title-bar-title" id="deleteApplicationLabel">Add Server</span>
                    @*<button type="button" class="close" data-dismiss="modal">
                            <span style="color:white; font-size:20px;padding:10px;">X</span>
                        </button>*@
                </div>
                <hr />

            </div>
            <br />
            <h3>Are you sure you want to delete this?</h3>
            <div>
                <h4>Server</h4>
                <hr />
                <dl class="row">
                   
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ApplicationAssetId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ApplicationAssetId.AssetId)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ApplicationWebsiteId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ApplicationWebsiteId.WebsiteId)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ApplicationName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ApplicationName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ApplicationEapmId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ApplicationEapmId)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ApplicationFtpPath)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ApplicationFtpPath)
                    </dd>
                </dl>
                @*<div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-save="modal">Delete</button>
                </div>*@

                <div class="modal-footer">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="ApplicationId" />
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-save="modal">Delete</button>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

