﻿@model Website
<head>
    <style>
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" />

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' type='text/javascript'></script>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
</head>
<div class=" modal fade" id="editWebsite">
    <div class="modal-dialog">
        <div style="width:700px;margin-left:2px;border:inset;border-width:5px; border-color:#337ab7" class=" modal-content">
            <div style="background-color:#337ab7;height:50px" class="modal-header">
                <div class="title-bar-left">
                    <span style="color:white; font-size:20px;padding:10px;" class="modal-title title-bar-title" id="editWebsiteLabel">Edit Website</span>
                    @*<button type="button" class="close" data-dismiss="modal">
                            <span style="color:white; font-size:20px;padding:10px;">X</span>
                        </button>*@
                </div>
                <hr />

            </div>
            <br />
            <div class="modal-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="AssetId" />
                    <div class="row">
                        <div class="col-md-5 form-group">
                            <label asp-for="WebsiteId"></label>
                            <input readonly asp-for="WebsiteId" class="form-control" />
                            <span asp-validation-for="WebsiteId" class="text-danger"></span>
                        </div>
                        <div class=" col-md-7 form-group">
                            <label asp-for="WebsiteName" class="control-label"></label>
                            <input asp-for="WebsiteName" class="form-control" />
                            <span asp-validation-for="WebsiteName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class=" col-md-5 form-group">
                            <label asp-for="WebsiteIpAddress" class="control-label"></label>
                            <input asp-for="WebsiteIpAddress" class="form-control" />
                            <span asp-validation-for="WebsiteIpAddress" class="text-danger"></span>
                        </div>
                        <div class=" col-md-7 form-group">
                            <label asp-for="WebsitePort" class="control-label"></label>
                            <input asp-for="WebsitePort" class="form-control" />
                            <span asp-validation-for="WebsitePort" class="text-danger"></span>
                        </div>
                    </div>


                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-save="modal">Save</button>
            </div>
        </div>
    </div>
</div>

