﻿@using MayurProject.ViewModel;

@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" />

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />


    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        .Grid {
            border: 1px solid #ccc;
            border-collapse: collapse;
            background-color: #fff;
        }

            .Grid th {
                background-color: #B8DBFD;
                color: #333;
                font-weight: bold;
            }

            .Grid th, .Grid td {
                padding: 5px;
                border: 1px solid #ccc;
            }

            .Grid img {
                cursor: pointer;
            }

        .ChildGrid {
            width: 100%;
        }

            .ChildGrid th {
                background-color: #6C6C6C;
                color: #fff;
                font-weight: bold;
            }

        .btn-glyphicon {
            padding: 8px;
            background: #ffffff;
            margin-right: 4px;
        }

        .icon-btn {
            padding: 1px 15px 3px 2px;
            border-radius: 50px;
        }

        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }

        hr.new4 {
            border-top: 30px solid green;
        }

        input[type=text], select {
            padding: 8px 15px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        table {
            margin-left: auto;
            margin-right: auto;
            font-size: 14px;
            width: 100%;
        }

            table th {
                font-size: 16px;
                
            }
    </style>
</head>
@*@{
    Server serv = ViewBag.Server;}*@
<body>
    <div style="margin-top:2px;" id="serPlaceHolderHere"></div>
    <div style="margin-top:2px;" id="webPlaceHolderHere"></div>
    <div style="margin-top:2px;" id="appPlaceHolderHere"></div>

    <div style="margin-top:2px;" id="serEditPlaceHolderHere"></div>
    <div style="margin-top:2px;" id="webEditPlaceHolderHere"></div>
    <div style="margin-top:2px;" id="appEditPlaceHolderHere"></div>

    <div style="margin-top:2px;" id="serDeletePlaceHolderHere"></div>
    <div style="margin-top:2px;" id="webDeletePlaceHolderHere"></div>
    <div style="margin-top:2px;" id="appDeletePlaceHolderHere"></div>

    <div style="margin-top:10px;font-size:70px; font-family:'Times New Roman', Times, serif; color:forestgreen;float:right;margin-bottom:10px;margin-right:80px;">Humana</div>

    <div class="row">

        <div class="col-md-12">
            <hr class="new4">
            <div class="btn-group">
                <button style="margin-left:30px; font-size:15px" type="button" class="btn btn-primary">Apple</button>
                <button style="margin-left:20px; font-size:15px" type="button" class="btn btn-primary">Samsung</button>

                @*<button style="margin-left:20px; font-size:15px" id="myBtn" class="btn btn-primary">Open Modal</button>*@
                <input style="margin-left: 1000px; font-size:15px" id="myInput" type="text" placeholder="Search..">

            </div>
            <br />
            <br />
            <div class="panel panel-primary list-panel" id="list-panel">

                <div class="panel-heading list-panel-heading">
                    <h1 class="panel-title list-panel-title">Assets</h1>
                </div>
                <div class="panel-body">
                    <table id="assets-data-table-first" class="Grid table-striped table-bordered" cellspacing="0" width="100%">
                        <tr>
                            <th>
                                <button id="ser" data-toggle="ajax-modal" data-target="#addServer" data-url="@Url.Action("ServerModelPartial")"><img src="~/css/insert.jpg" /></button>
                            </th>
                            <th>Asset Id</th>
                            <th>Server Name</th>
                            <th>Server Environment</th>
                            <th>Server Type</th>
                            <th>Server Operating System</th>
                            <th>Server Description</th>
                            <th></th>
                        </tr>
                        @foreach (ServerViewModel ser in Model.ServerViewModel)
                        {
                            <tr>
                                <td>

                                    <img src="~/css/plus.png" />
                                    <div style="display:none">
                                        <table id="assets-data-table-second" cellpadding="0" cellspacing="0" class=" ChildGrid table-bordered table-striped">
                                            <tr>
                                                <th>
                                                    <button id="web" class="webClass" data-toggle="ajax-modal" data-target="#addWebsite" data-url="@Url.Action("WebsiteModelPartial")"><img src="~/css/insert.jpg" /></button>
                                                </th>
                                                <th>Website Id</th>
                                                <th>Website Name</th>
                                                <th>Website IP Address</th>
                                                <th>Website Port</th>
                                                <th> </th>
                                            </tr>
                                            @foreach (var web in ser.Websites)
                                            {
                                               
                                                    <tr>

                                                        <td>
                                                            <img src="~/css/plus.png" />
                                                            <div style="display:none">
                                                                <table id="assets-data-table-third" cellpadding="0" cellspacing="0" class="ChildGrid table table-bordered table-striped">
                                                                    <tr>
                                                                        <th>
                                                                            <button id="app" class="appClass" data-toggle="ajax-modal" data-target="#addApplication" data-url="@Url.Action("ApplicationModelPartial")"><img src="~/css/insert.jpg" /></button>
                                                                        </th>
                                                                        <th>Application Id</th>
                                                                        <th>Application Name</th>
                                                                        <th>Application EapmId</th>
                                                                        <th>Application FTP Path</th>
                                                                        <th></th>
                                                                    </tr>
                                                                    @foreach (WebsiteViewModel app in Model.WebsiteViewModel)
                                                                    {
                                                                        
                                                                        @foreach (var ap in app.Applications)
                                                                        {
                                                                            if (web.WebsiteId == ap.WebsiteId)
                                                                            {
                                                                        <tr>
                                                                            <td></td>
                                                                            <td>@ap.ApplicationId</td>
                                                                            <td>@ap.ApplicationName</td>
                                                                            <td>@ap.ApplicationEapmId</td>
                                                                            <td>@ap.ApplicationFtpPath</td>
                                                                            <td>
                                                                                <button id="editapp" class="editAppClass" data-toggle="ajax-modal" data-target="#EditApplication" data-url="@Url.Action("EditApplicationModelPartial", new { id = ap.ApplicationId })">Edit</button>

                                                                                <button id="deleteapp" class="deleteAppClass" data-toggle="ajax-modal" data-target="#DeleteApplication" data-url="@Url.Action("DeleteApplicationModelPartial", new { id = ap.ApplicationId })">Delete</button>
                                                                            </td>
                                                                        </tr>
                                                                            }
                                                                            else { }
                                                                        }
                                                                        }
                                                                </table>
                                                            </div>
                                                        </td>
                                                        <td>@web.WebsiteId</td>
                                                        <td>@web.WebsiteName</td>
                                                        <td>@web.WebsiteIpAddress</td>
                                                        <td>@web.WebsitePort</td>
                                                        <td>
                                                            <button id="editweb" class="editWebClass" data-toggle="ajax-modal" data-target="#EditWebsite" data-url="@Url.Action("EditWebsiteModelPartial", new { id = web.WebsiteId })">Edit</button>
                                                            <button id="deleteweb" class="deleteWebClass" data-toggle="ajax-modal" data-target="#DeleteWebsite" data-url="@Url.Action("DeleteWebsiteModelPartial", new { id = web.WebsiteId })">Delete</button>


                                                        </td>
                                                    </tr>
                                                
                                            }
                                            </table>
                                    </div>
                                </td>
                                <td>@ser.AssetId</td>
                                <td>@ser.ServerName</td>
                                <td>@ser.ServerEnvironment</td>
                                <td>@ser.ServerType</td>
                                <td>@ser.ServerOperatingSystem</td>
                                <td>@ser.ServerDescription</td>
                                <td>
                                    <button id="editser" class="editSerClass" data-toggle="ajax-modal" data-target="#EditServer" data-url="@Url.Action("EditServerModelPartial", new { id = ser.AssetId })">Edit</button>

                                    <button id="deleteser" class="deleteSerClass" data-toggle="ajax-modal" data-target="#DeleteServer" data-url="@Url.Action("DeleteServerModelPartial", new { id = ser.AssetId })">Delete</button>


                                    @*@Html.ActionLink("Delete", "DeleteServerModelPartial", new { id = ser.AssetId })*@
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                @*<div class="model fade" id="myModel" role="dialog" data-url='@Url.Action("Test","Home")'></div>*@
                @*<div id="AddUserForm"></div>*@
                @*<div id="myModal" class="modal">
                     Modal content
                    <div class="modal-content">
                            <span class="close">&times;</span>
                            <p>Some text in the Modal..</p>
                        </div>

                    </div>*@

            </div>
        </div>
    </div>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' type='text/javascript'></script>
<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        $('#assets-data-table-first').DataTable();
        $('#assets-data-table-second').DataTable();
        $('#assets-data-table-third').DataTable();

    });



    var PlaceHolderElement = $('#serPlaceHolderHere');
    var PlaceHolderElement1 = $('#webPlaceHolderHere');
    var PlaceHolderElement2 = $('#appPlaceHolderHere');

    var EditPlaceHolderElement = $('#serEditPlaceHolderHere');
    var EditPlaceHolderElement1 = $('#webEditPlaceHolderHere');
    var EditPlaceHolderElement2 = $('#appEditPlaceHolderHere');

    var DeletePlaceHolderElement = $('#serDeletePlaceHolderHere');
    var DeletePlaceHolderElement1 = $('#webDeletePlaceHolderHere');
    var DeletePlaceHolderElement2 = $('#appDeletePlaceHolderHere');

    $("#ser").click(function (event) {


        var url = $(this).data('url');



        $.get(url).done(function (data) {
            $("#serPlaceHolderHere").html(data);
            $("#serPlaceHolderHere").find('.modal').modal('show');

        });
    });

    $(document).on('click', '.webClass', function () {


        var url = $(this).data('url');



        $.get(url).done(function (data) {
            $("#webPlaceHolderHere").html(data);
            $("#webPlaceHolderHere").find('.modal').modal('show');

        });
    });

    $(document).on('click', '.appClass', function () {


        var url = $(this).data('url');



        $.get(url).done(function (data) {
            $("#appPlaceHolderHere").html(data);
            $("#appPlaceHolderHere").find('.modal').modal('show');

        });
    });

    $(document).on('click', '.editSerClass', function () {


        var url = $(this).data('url');



        $.get(url).done(function (data) {

            $("#serEditPlaceHolderHere").html(data);
            $("#serEditPlaceHolderHere").find('.modal').modal('show');

        });
    });

    $(document).on('click', '.editWebClass', function () {


        var url = $(this).data('url');



        $.get(url).done(function (data) {

            $("#webEditPlaceHolderHere").html(data);
            $("#webEditPlaceHolderHere").find('.modal').modal('show');

        });
    });
    $(document).on('click', '.editAppClass', function () {


        var url = $(this).data('url');



        $.get(url).done(function (data) {

            $("#appEditPlaceHolderHere").html(data);
            $("#appEditPlaceHolderHere").find('.modal').modal('show');

        });
    });



    $(document).on('click', '.deleteSerClass', function () {

        alert("ahdkashdk");

        var url = $(this).data('url');

        alert(url);

        $.get(url).done(function (data) {

            $("#serDeletePlaceHolderHere").html(data);
            $("#serDeletePlaceHolderHere").find('.modal').modal('show');

        });
    });

    $(document).on('click', '.deleteWebClass', function () {


        var url = $(this).data('url');



        $.get(url).done(function (data) {

            $("#webDeletePlaceHolderHere").html(data);
            $("#webDeletePlaceHolderHere").find('.modal').modal('show');

        });
    });
    $(document).on('click', '.deleteAppClass', function () {


        var url = $(this).data('url');



        $.get(url).done(function (data) {

            $("#appDeletePlaceHolderHere").html(data);
            $("#appDeletePlaceHolderHere").find('.modal').modal('show');

        });
    });


    PlaceHolderElement.on('click', '[data-save="modal"]', function (event) {

        var form = $(this).parents('.modal').find('form');
        //var actionUrl = form.attr('action');
        var actionUrl = '@Url.Action("ServerModelPartial")';
        var sendData = form.serialize();
        console.log(actionUrl);
        console.log(sendData);
        $.post(actionUrl, sendData).done(function (data) {
            $("#serPlaceHolderHere").find('.modal').modal('hide');
        });
        location.reload();
    });

     PlaceHolderElement1.on('click', '[data-save="modal"]', function (event) {

        var form = $(this).parents('.modal').find('form');
        //var actionUrl = form.attr('action');
        var actionUrl = '@Url.Action("WebsiteModelPartial")';
        var sendData = form.serialize();
        console.log(actionUrl);
        console.log(sendData);
        $.post(actionUrl, sendData).done(function (data) {
            $("#webPlaceHolderHere").find('.modal').modal('hide');
        });
        location.reload();
     });

     PlaceHolderElement2.on('click', '[data-save="modal"]', function (event) {

        var form = $(this).parents('.modal').find('form');
        //var actionUrl = form.attr('action');
        var actionUrl = '@Url.Action("ApplicationModelPartial")';
        var sendData = form.serialize();
        console.log(actionUrl);
        console.log(sendData);
        $.post(actionUrl, sendData).done(function (data) {
            $("#appPlaceHolderHere").find('.modal').modal('hide');
        });
        location.reload();
    });

    EditPlaceHolderElement.on('click', '[data-save="modal"]', function (event) {


        var form = $(this).parents('.modal').find('form');

        //var actionUrl = form.attr('action');
        var actionUrl = '@Url.Action("EditServerModelPartial")';

        var sendData = form.serialize();

        $.post(actionUrl, sendData).done(function (data) {
            $("#serEditPlaceHolderHere").find('.modal').modal('hide');
        });
        location.reload();
    });

    EditPlaceHolderElement1.on('click', '[data-save="modal"]', function (event) {


        var form = $(this).parents('.modal').find('form');

        //var actionUrl = form.attr('action');
        var actionUrl = '@Url.Action("EditWebsiteModelPartial")';

        var sendData = form.serialize();

        $.post(actionUrl, sendData).done(function (data) {
            $("#webEditPlaceHolderHere").find('.modal').modal('hide');
        });
        location.reload();
    });

    EditPlaceHolderElement2.on('click', '[data-save="modal"]', function (event) {


        var form = $(this).parents('.modal').find('form');

        //var actionUrl = form.attr('action');
        var actionUrl = '@Url.Action("EditApplicationModelPartial")';

        var sendData = form.serialize();

        $.post(actionUrl, sendData).done(function (data) {
            $("#appEditPlaceHolderHere").find('.modal').modal('hide');
        });
        location.reload();
    });


    DeletePlaceHolderElement.on('click', '[data-save="modal"]', function (event) {


        var form = $(this).parents('.modal').find('form');

        //var actionUrl = form.attr('action');


        var sendData = form.serialize();

     
        var id = sendData.split('AssetId=').pop().split('&')[0];

     

         var actionUrl = '@Url.Action("DeleteServerModelPartial")'+'/'+id;

        $.post(actionUrl, sendData).done(function (data) {
            $("#serDeletePlaceHolderHere").find('.modal').modal('hide');
        });
        location.reload();
    });

    DeletePlaceHolderElement1.on('click', '[data-save="modal"]', function (event) {


        var form = $(this).parents('.modal').find('form');

        //var actionUrl = form.attr('action');

        var sendData = form.serialize();

        var id = sendData.split('WebsiteId=').pop().split('&')[0];

         var actionUrl = '@Url.Action("DeleteWebsiteModelPartial")'+'/'+id;

        $.post(actionUrl, sendData).done(function (data) {
            $("#webDeletePlaceHolderHere").find('.modal').modal('hide');
        });
        location.reload();
    });

    DeletePlaceHolderElement2.on('click', '[data-save="modal"]', function (event) {


        var form = $(this).parents('.modal').find('form');


        //var actionUrl = form.attr('action');


        var sendData = form.serialize();

        var id = sendData.split('ApplicationId=').pop().split('&')[0];

         var actionUrl = '@Url.Action("DeleteApplicationModelPartial")'+'/'+id;

        $.post(actionUrl, sendData).done(function (data) {
            $("#appDeletePlaceHolderHere").find('.modal').modal('hide');
        });
        location.reload();
    });


    $("#myInput").on("keyup", function () {

        var value = $(this).val().toLowerCase();
        $("#assets-data-table-first tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });

    //Assign Click event to Plus Image.
    $("body").on("click", "img[src*='plus.png']", function () {
        $(this).closest("tr").after("<tr><td></td><td colspan = '999'>" + $(this).next().html() + "</td></tr>");
        $(this).attr("src", "/css/minus1.png");
    });
    //Assign Click event to Minus Image.
    $("body").on("click", "img[src*='minus1.png']", function () {
        $(this).attr("src", "/css/plus.png");
        $(this).closest("tr").next().remove();
    });


    @*$("#ser").click(function () {
        var id = 1;
        var popupTitle = 'Open Model';
        var _height = 700;
        var _width = 650;
        var pageName = '@Url.Action("Create","Servers")' + '/' + id;
        OpenPopup(pageName, popupTitle, "Group", "create", _height, _width);
    });*@




</script>


@*<script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }



    </script>*@
@*<script>
        function OpenPopup(pageUrl, pageTitle, type, method, _height, _width) {

            var $pageContent = $('<div>kahdkjas</div>');
            //$pageContent.load(pageUrl, function () {
            //    $('#popupForm', $pageContent).removeData('validator');
            //   // $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
            //   // $.validator.unobtrusive.parse('form');
            //});

            $dialog = $('<div class="popupWindow" style"overflow:auto"></div>')
                .html($pageContent)
                .dialog(
                    {
                        draggable: false,
                        autoOpen: false,
                        resizable: false,
                        model: true,
                        title: pageTitle,
                        height: _height,
                        width: _width,
                        close: function () {
                            $dialog.dialog('destroy').remove();
                        }
                    })
            $dialog.dialog('open');
        }

    </script>*@

