﻿@model MayurProject.Models.Server

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Server</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServerEnvironment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServerEnvironment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServerType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServerType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServerOperatingSystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServerOperatingSystem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServerDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServerDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AssetId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
