﻿@model MayurProject.Models.Server

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Server</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AssetId" />
            <div class="form-group">
                <label asp-for="ServerName" class="control-label"></label>
                <input asp-for="ServerName" class="form-control" />
                <span asp-validation-for="ServerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServerEnvironment" class="control-label"></label>
                <input asp-for="ServerEnvironment" class="form-control" />
                <span asp-validation-for="ServerEnvironment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServerType" class="control-label"></label>
                <input asp-for="ServerType" class="form-control" />
                <span asp-validation-for="ServerType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServerOperatingSystem" class="control-label"></label>
                <input asp-for="ServerOperatingSystem" class="form-control" />
                <span asp-validation-for="ServerOperatingSystem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServerDescription" class="control-label"></label>
                <input asp-for="ServerDescription" class="form-control" />
                <span asp-validation-for="ServerDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
