﻿@model IEnumerable<MayurProject.Models.Server>

@{
    ViewData["Title"] = "Index";
}

<div id="PlaceHolderHere"></div>

<button type="button" class=" btn btn-primary" data-toggle="ajax-modal" data-target="#addServer" 
        add-url="@Url.Action("Create")">Create</button>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServerEnvironment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServerType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServerOperatingSystem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServerDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServerEnvironment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServerType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServerOperatingSystem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServerDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AssetId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AssetId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AssetId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script src="~/js/site.js"></script>