﻿@model Server

<div class="modal fade" id="addServer">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"id="addServerLabel">add Server</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>X</span>
                </button>
            </div>

            <div class="modal-body">
                <form action="Create">
                    <div class="form-group">
                        <label asp-for="AssetId"></label>
                        <input asp-for="AssetId" class="form-control" />
                        <span asp-validation-for="AssetId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ServerName" class="control-label"></label>
                        <input asp-for="ServerName" class="form-control" />
                        <span asp-validation-for="ServerName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ServerEnvironment" class="control-label"></label>
                        <input asp-for="ServerEnvironment" class="form-control" />
                        <span asp-validation-for="ServerEnvironment" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ServerType" class="control-label"></label>
                        <input asp-for="ServerType" class="form-control" />
                        <span asp-validation-for="ServerType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ServerOperatingSystem" class="control-label"></label>
                        <input asp-for="ServerOperatingSystem" class="form-control" />
                        <span asp-validation-for="ServerOperatingSystem" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ServerDescription" class="control-label"></label>
                        <input asp-for="ServerDescription" class="form-control" />
                        <span asp-validation-for="ServerDescription" class="text-danger"></span>
                    </div>

                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-save="modal">Save</button>
            </div>
        </div>
    </div>
</div>