﻿@model MayurProject.Models.Application

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Application</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AssetId" class="control-label"></label>
                <select asp-for="AssetId" class ="form-control" asp-items="ViewBag.AssetId"></select>
            </div>
            <div class="form-group">
                <label asp-for="WebsiteId" class="control-label"></label>
                <select asp-for="WebsiteId" class ="form-control" asp-items="ViewBag.WebsiteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationId" class="control-label"></label>
                <input asp-for="ApplicationId" class="form-control" />
                <span asp-validation-for="ApplicationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationName" class="control-label"></label>
                <input asp-for="ApplicationName" class="form-control" />
                <span asp-validation-for="ApplicationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationEapmId" class="control-label"></label>
                <input asp-for="ApplicationEapmId" class="form-control" />
                <span asp-validation-for="ApplicationEapmId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationFtpPath" class="control-label"></label>
                <input asp-for="ApplicationFtpPath" class="form-control" />
                <span asp-validation-for="ApplicationFtpPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
