﻿@model IEnumerable<MayurProject.Models.Application>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationAssetId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationWebsiteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationEapmId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationFtpPath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationAssetId.AssetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationWebsiteId.WebsiteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationEapmId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationFtpPath)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ApplicationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ApplicationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ApplicationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
